<p id="notice"><%= notice %></p>

<p>
  <strong>Markerid:</strong>
  <%= @accessablemarker.markerid %>
</p>

<p>
  <strong>Accesorid:</strong>
  <%= @accessablemarker.accesorid %>
</p>

<%= link_to 'Edit', edit_accessablemarker_path(@accessablemarker) %> |
<%= link_to 'Back', accessablemarkers_path %>
